name: markdown_screenshot_app
description: A Flutter app for rendering and screenshotting Markdown content with optimized code block display.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  webview_flutter: ^4.4.2
  flutter_markdown: ^0.6.18
  flutter_markdown_plus: ^1.0.3
  screenshot: ^2.1.0
  path_provider: ^2.1.1
  permission_handler: ^11.0.1
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/